.logo {
	max-width: 298px;
	
	&__link {
		text-decoration: none;
		display: block;
	}

	&__pic {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	
	@media all and (max-width: 768px) {
		margin: 0 auto;
		max-width: 240px;
	}
}