.btn {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #cc5b1e;
	box-shadow: 0 5px 0 #9f4a1b;
	border-radius: 11px;
	padding: 20px 30px;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	position: relative;
	outline: 0;
	transition: background-color .1s ease;
	max-width: 490px;
	margin-bottom: 5px;
	z-index: 100;
	
	&:hover {
		text-decoration: none;
	}
	
	br {
		display: none;
		
		@media all and (max-width: 768px) {
			display: block;
		}
	}
	
	.gifts & {
		margin: 30px auto 0;
		display: block;
	}
	
	//.main-section & {
	//	display: block;
	//
	//	&_xs {
	//		display: none;
	//	}
	//}
	
	@media all and (max-width: 1680px) {
		padding: 15px 25px;
		font-size: 18px;
		
		.section_gifts & {
			padding: 12px 25px;
			font-size: 15px;
			box-shadow: 0 4px 0 #9f4a1b;
			margin-bottom: 4px;
			border-radius: 4px;
		}
	}
	
	@media all and (max-width: 768px) {
		font-size: 16px;
		max-width: 290px;
		padding: 16px 25px;
		
		//.main-section & {
		//	display: none;
		//
		//	&_xs {
		//		display: block;
		//	}
		//}
		
		.gifts-form & {
			max-width: 100%;
			width: 100%;
		}
	}
}