.fullpage-wrapper {

}

.fp-tableCell {
	display: flex!important;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 180px;
}

.fp-section.fp-table, .fp-slide.fp-table {
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
}

@media all and (max-width: 1680px) {
	
	.fp-tableCell {
		padding-bottom: 150px;
	}
}