.gifts {
	
	&__blocks {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-bottom: 40px;
	}
	
	&__block {
		
		margin-right: 30px;
		position: relative;
		height: 190px;
		display: flex;
		align-items: flex-end;
		
		&:first-child {
			margin-right: 23px;
			margin-left: 40px;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	&__text-block {
		max-width: 115px;
		position: absolute;
		bottom: 0;
		height: 100%;
		padding-top: 77px;
		margin-left: 25px;
	}
	
	&__text {
		font-size: 20px;
	}
	
	&__content {
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
	}
	
	&__list {
		margin: 0;
		padding: 0;
	}
	
	&__item {
		list-style-type: none;
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		
		span {
			font-family: Webnar;
			font-size: 22px;
			font-weight: 700;
			width: 38px;
			height: 38px;
			background-color: #cc5b1e;
			box-shadow: 0 5px 25px rgba(232, 103, 33, 0.36);
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin-right: 12px;
		}
	}
	
	@media all and (max-width: 1680px) {
		
		&__list {
			display: flex;
		}
		
		&__content {
			max-width: 1150px;
		}
		
		&__item {
			padding-right: 50px;
			line-height: 1.2;
			
			&:last-child {
				padding-right: 0;
			}
			
			span {
				width: 30px;
				min-width: 30px;
				height: 30px;
				font-size: 18px;
			}
		}
		
		&__block {
			height: auto;
			width: 213px;
			
			&:last-child {
				width: 246px;
			}
		}
		
		&__text {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.2;
			
			&-block {
				
				.gifts__block:first-child & {
					padding-top: 58px;
				}
				
				margin-left: 15px;
				padding-top: 63px;
				
				.gifts__block:last-child & {
					padding-top: 43px;
				}
			}
		}
		
		&__pic {
			//height: 100%;
			width: 100%;
		}
		
		&__img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	
	@media all and (max-width: 768px) {
		
		&__blocks {
			flex-direction: column;
			margin-bottom: 26px;
			margin-left: -15px;
			margin-right: -15px;
		}
		
		&__block {
			margin: 0 auto;
			width: 100%;
			max-width: 274px;
			height: 190px;
			
			&:first-child {
				margin: 0 auto;
			}
			
			&:nth-child(2) {
				margin-top: -57px;
				margin-left: auto;
				margin-right: auto;
			}
			
			&:last-child {
				max-width: 274px;
				width: 100%;
				margin-top: -28px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		
		&__text-block {
			
			.gifts__block:first-child & {
				padding-top: 78px;
			}
			
			.gifts__block:nth-child(2) & {
				padding-top: 82px;
			}
			
			.gifts__block:last-child & {
				padding-top: 60px;
			}
		}
		
		&__text {
			font-weight: 400;
		}
		
		&__pic {
			width: 100%;
			height: 100%;
		}
		
		&__img {
			width: auto;
			height: auto;
		}
		
		&__list {
			flex-direction: column;
			margin-bottom: 30px;
		}
		
		&__item {
			width: 100%;
			font-size: 15px;
			font-family: Webnar;
			line-height: 1.2;
			font-weight: 400;
			display: flex;
			align-items: center;
			
			span {
				font-size: 22px;
				min-height: 38px;
				min-width: 38px;
				display: flex;
			}
		}
		
		@media all and (max-width: 377px) {
			
			&__block:last-child {
				transform: translateX(0);
			}
		}
	}
}