.gifts-form {
	background-color: rgba(10, 12, 14, 0.2);
	border: 1px solid rgba(18, 21, 43, 0.36);
	border-radius: 5px;
	padding: 29px 37px 37px;
	
	&__title {
		font-family: "MyriadPro";
		font-size: 24px;
		font-weight: 400;
		padding-left: 30px;
		margin-bottom: 20px;
	}
	
	&__input {
		height: 67px;
		background-color: white;
		border-radius: 5px;
		width: 100%;
		max-width: 505px;
		border: none;
		padding: 0 28px;
	}
	
	&__form {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	@media all and (max-width: 1680px) {
		
		padding: 15px 25px 25px;
		max-width: 634px;
		margin: 25px auto 0;
		
		&__title {
			font-size: 18px;
			padding-left: 20px;
			margin-bottom: 14px;
		}
	
		&__input {
			width: 360px;
			max-width: 100%;
			height: 53px;
		}
	}
	
	@media all and (max-width: 768px) {
	
		&__title {
			padding-left: 0;
			font-size: 18px;
			text-align: center;
		}
		
		&__form {
			flex-direction: column;
		}
		
		&__input {
			height: 58px;
			max-width: 100%;
			margin-bottom: 14px;
			width: 100%;
		}
	}
}