.lens-wrapper {
	height: 62vh;
	
	@media all and (max-width: 768px) {
		height: 48vh;
		position: relative;
	}
}

.lens {
	width: 770px;
	height: 329px;
	display: flex;
	z-index: 2;
	left: 15%;
	top: 17%;
	margin-bottom: -90px;
	margin-top: -4%;
	margin-left: -20%;
	position: absolute;
	transition: .3s;
	
	&:after {
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../images/spectacles.png");
		justify-content: space-between;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		z-index: 2;
	}
	
	
	&__item {
		width: 281px;
		height: 228px;
		top: 36px;
		background-repeat:no-repeat;
		background-size: cover;
		background-attachment: fixed;
		z-index: 1;
		position: absolute;
		
		.wrapper_vod & {
			background-image: url(../images/main-bg.jpg);
		}
		
		.wrapper_kids & {
			background-image: url(../images/main-bg-kids.jpg);
		}
		
		.wrapper_stud & {
			background-image: url(../images/main-bg-stud.jpg);
		}
		
		.wrapper_football & {
			background-image: url(../images/main-bg-football.jpg);
		}
		
		&_left {
			left: 70px;
			border-radius: 30px 83px 122px 100px;
		}
		
		&_right {
			right: 56px;
			border-radius: 90px 30px 120px 136px;
		}
	}
	
	@media all and (max-width: 1680px) {
		
		width: 525px;
		height: 228px;
		margin-bottom: -30px;
		margin-top: -30px;
		
		&__item {
			width: 193px;
			height: 143px;
			top: 36px;
			
			&_left {
				left: 43px;
			}
			
			&_right {
				right: 34px;
			}
		}
	}
	
	@media all and (max-width: 768px) {
		
		width: 280px;
		height: 122px;
		left: 50%;
		top: 35%;
		transition: 0s;
		margin-bottom: -10px;
		margin-top: -30px;
		margin-left: -140px;
		//margin-left: 0;
		
		&__item {
			background-position: right 34% center;
			width: 102px;
			height: 80px;
			top: 17px;
			
			.wrapper_stud & {
				background-position: left 30% center;
			}
			
			.wrapper_kids &,
			.wrapper_football & {
				background-position: right 54% center;
			}
			
			&_left {
				left: 23px;
			}
			
			&_right {
				right: 19px;
			}
		}
	}
	
	@media all and (max-width: 415px) {
	
	}
}