.main-section {
	
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 88px;
	}
	
	&__link {
		font-size: 14px;
		font-weight: 500;
		line-height: 25px;
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
	}
}