.mouse {
	
	display: inline-block;
	margin-bottom: 15px;
	margin-top: 15px;
	
	.fp-viewing-winners & {
		display: none;
	}
	
	&__icon {
		height: 65px;
		width: 43px;
		border: 3px solid #ffffff;
		border-radius: 30px;
		position: relative;
	}
	
	&__wheel {
		position: absolute;
		top: 9px;
		left: 50%;
		transform: translateX(-50%);
		width: 3px;
		height: 14px;
		border-radius: 3px;
		display: block;
		background: #cc5b1e;
	}
	
	@media all and (max-width: 1680px) {
	
		&__icon {
			height: 53px;
			width: 36px;
			border: 2px solid #ffffff;
		}
	}
	
	@media all and (max-width: 768px) {
		display: none;
	}
}