.title {
	font-family: Webnar;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	padding: 0 15px;
	text-align: center;
	margin-top: 140px;
	line-height: 1;
	
	span {
		display: inline-block;
		margin-left: -9px;
	}
	
	@media all and (max-width: 1680px) {
		font-weight: 500;
		margin-top: 80px;
		
		.main-section & {
			margin-top: 60px;
		}
		
		.section_winners & {
			margin-top: 120px;
		}
	}
	
	@media all and (max-width: 768px) {
		font-size: 20px;
		font-weight: 500;
		margin-top: 30px;
		
		.main-section & {
			margin-top: 30px;
		}
		
		.section_winners & {
			margin-top: 30px;
		}
		
		span {
			margin-left: -5px;
		}
	}
}
