.winners-table {
	
	max-height: 550px;
	max-width: 780px;
	margin: 0 auto;
	
	&__table,
	&__head,
	&__body {
		display: flex;
		flex-direction: column;
	}
	
	&__head {
		opacity: .3;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
	}
	
	&__body {
		padding-top: 5px;
	}
	
	&__row {
		display: flex;
		justify-content: space-between;
	}
	
	&__col {
		width: calc(100% / 3);
		font-family: Webnar;
		font-size: 14px;
		font-weight: 300;
		line-height: 1.2;
		padding: 5px 0;
		
		&:first-child {
			font-weight: 500;
		}
		
		&:nth-child(2) {
			text-align: center;
		}
		
		&:last-child {
			text-align: right;
		}
	}
	
	@media all and (max-width: 1600px) {
		
		max-height: 400px;
	}
	
	@media all and (max-width: 768px) {
		
		margin-right: -5px;
		max-height: 400px;
		overflow-y: auto;
		padding-right: 20px;
		
		/* width */
		&::-webkit-scrollbar {
			width: 3px;
		}
		
		/* Track */
		&::-webkit-scrollbar-track {
			
			background-color: rgba(255, 255, 255, .2);
		}
		
		/* Handle */
		&::-webkit-scrollbar-thumb {
			
			background-color: white;
		}
		
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #fff;
		}
		
		&__head {
			display: none;
		}
		
		&__row {
			flex-wrap: wrap;
			margin-bottom: 15px;
		}
		
		&__col {
			width: 50%;
			
			&:first-child {
				width: 60%;
			}
			
			&:last-child {
				width: 40%;
			}
			
			&:nth-child(2) {
				order: 2;
				width: 100%;
				text-align: left;
			}
			
		}
	}
	
}