.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	z-index: 1;
	left: 0;
	right: 0;
	
	&_xs {
		display: none;
	}
	
	&__inner {
		padding: 40px 80px;
		width: 100%;
	}

	&__logo {

	}
	
	@media all and (max-width: 768px) {
		position: relative;
		
		&_xs {
			display: flex;
		}
		
		&__inner {
			padding: 20px 50px;
		}
	}
}
