{% include 'head/head.html' %}

<body>

<div class="wrapper wrapper_vod lazyload" id="js-wrapper">

	{% include 'header/global/header.html' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->
				
				<br>
				<br>
				<br>
				<br>
				<br>
				
				
				<div class="title">{{ "Список страниц" | upper }}</div>
				<br>
				<a target="_blank" href="voditel.html">Для водителей</a><br>
				<a target="_blank" href="kids.html">Для детей</a><br>
				<a target="_blank" href="students.html">Для студентов</a><br>
				<a target="_blank" href="football.html">Для футбольных болельщиков</a><br>
				<a data-ajax="" data-url="ajax/thanks.html" href="">Попап благодарности</a><br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'footer/global/footer.html' %}
{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>
</html>
