.footer {
	position: fixed;
	bottom: 0;
	z-index: 1;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	
	&_xs {
		display: none;
	}
	
	&__inner {
		padding: 0 80px 40px;
		min-width: 1230px;
	}
	
	&__blocks {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	&__block {
		width: calc(100% / 3);
		
		&_center {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		&_right {
			text-align: right;
		}
	}
	
	&__text,
	&__link,
	&__winner {
		opacity: 0.3;
		color: white;
		font-family: "MyriadPro";
		font-size: 14px;
		font-weight: 400;
	}
	
	&__link,
	&__winner {
		text-decoration: underline;
		
		&:hover {
			text-decoration: none;
		}
		
		.footer__block_right & {
			margin-left: 30px;
			
			&:first-child {
				margin-left: 0;
			}
		}
	}
	
	&__winner {
		
		opacity: 1;
		
		.fp-viewing-winners & {
			display: none;
		}
		
	}
	
	@media all and (max-width: 768px) {
		
		position: static;
		
		&_xs {
			display: block;
			position: static;
		}
		
		&__inner {
			min-width: 320px;
			padding: 20px 15px 40px;
		}
		
		&__blocks {
			flex-direction: column;
		}
		
		&__block {
			width: 100%;
			flex-direction: column;
			
			&_left {
				order: 2;
			}
		}
		
		&__link,
		&__text {
			text-align: center;
			display: block;
			margin-left: 0;
		}
		
		&__link {
			
			.footer__block_right & {
				margin-left: 0;
			}
		}
	}
}
