<div class="footer" id="js-footer">
	
	<div class="footer__inner">
		<div class="footer__blocks">
			<div class="footer__block footer__block_left">
			
			<div class="footer__text">
				© Линзмастер, 2018
			</div>
			<!-- /.footer__text -->
			
			</div>
			<!-- /.footer__block -->
			
			<div class="footer__block footer__block_center">
				
				<div class="mouse">
					<div class="mouse__icon">
						<div class="mouse__wheel"></div>
						<!-- /.mouse__wheel -->
					</div>
					<!-- /.miuse__icon -->
				</div>
				<!-- /.mouse -->
				<a href="#winners" data-menuanchor="winners" class="footer__winner js-footer-winner">Победители розыгрыша</a>
				<!-- /.footer__winner -->
				
			</div>
			<!-- /.footer__block -->
			
			<div class="footer__block footer__block_right">
				
				<a href="#" class="footer__link">
					Правила розыгрыша
				</a>
				<!-- /.footer__link -->
				<a href="#" class="footer__link">
					Политика конфиденциальносии
				</a>
				<!-- /.footer__link -->
			
			</div>
			<!-- /.footer__block -->
			
		</div>
		<!-- /.footer__blocks -->
		
	</div>
	<!-- /.footer__inner -->

</div>
<!-- /.footer -->
