<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="js/script.min.js"></script>
<script type="text/javascript" src="js/frontend-works.js"></script>

<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>
	var yaBrowserUpdater = new ya.browserUpdater.init({
		"lang": "ru",
		"browsers": {
			"yabrowser": "15.12",
			"chrome": "54",
			"ie": "11",
			"opera": "41",
			"safari": "8",
			"fx": "49",
			"iron": "35",
			"flock": "Infinity",
			"palemoon": "25",
			"camino": "Infinity",
			"maxthon": "4.5",
			"seamonkey": "2.3"
		},
		"theme": "yellow"
	});
</script>