
@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar-Black.eot);
	src: url(fonts/webnar/Webnar-Black.ttf);
	src: url(fonts/webnar/Webnar-Black.woff);
	src: url(fonts/webnar/Webnar-Black.woff2);
	font-weight: 900;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar-Bold.eot);
	src: url(fonts/webnar/Webnar-Bold.ttf);
	src: url(fonts/webnar/Webnar-Bold.woff);
	src: url(fonts/webnar/Webnar-Bold.woff2);
	font-weight: 700;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar-Medium.eot);
	src: url(fonts/webnar/Webnar-Medium.ttf);
	src: url(fonts/webnar/Webnar-Medium.woff);
	src: url(fonts/webnar/Webnar-Medium.woff2);
	font-weight: 500;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar-Regular.eot);
	src: url(fonts/webnar/Webnar-Regular.ttf);
	src: url(fonts/webnar/Webnar-Regular.woff);
	src: url(fonts/webnar/Webnar-Regular.woff2);
	font-weight: 400;
}

@font-face {
	font-family: Webnar;
	src: url(fonts/webnar/Webnar-Light.eot);
	src: url(fonts/webnar/Webnar-Light.ttf);
	src: url(fonts/webnar/Webnar-Light.woff);
	src: url(fonts/webnar/Webnar-Light.woff2);
	font-weight: 300;
}

@font-face {
	font-family: "MyriadPro";
	src: url(fonts/MyriadPro/MyriadPro-Regular.eot);
	src: url(fonts/MyriadPro/MyriadPro-Regular.woff);
	src: url(fonts/MyriadPro/MyriadPro-Regular.woff2);
	font-weight: 400;
}
