.wrapper {
	margin: 0 auto;
	overflow: hidden;
	min-height: 100%;
	min-width: 1230px;
	width: auto;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	
	&_vod {
		background-image: url(../images/main-bg-blured.jpg);
	}
	
	&_kids {
		background-image: url(../images/main-bg-kids-blured.jpg);
	}
	
	&_stud {
		background-image: url(../images/main-bg-stud-blured.jpg);
	}
	
	&_football {
		background-image: url(../images/main-bg-football-blured.jpg);
	}
	
	@media all and (max-width: 768px) {
		
		min-width: 320px;
		background-position: right 34% center;
		
		&_kids {
			background-position: right 54% center;
		}
		
		&_stud {
			background-position: left 30% center;
		}
		
		&_football {
			background-position: right 54% center;
		}
	}
}