<div class="thanks-popup">
	<div class="thanks-popup__title">Спасибо за участие в акции!</div>
	<!-- /.thanks-popup__title -->
	<div class="thanks-popup__text">
		Скоро на ваш e-mail
		придет письмо с подарком
	</div>
	<!-- /.thanks-popup__text -->
</div>
<!-- /.thanks-popup -->